# 안녕하세요^^ 
## AIVLE 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

## 개인과제
* 데이터 구조, 분포 확인, 전처리 : 1.1_버스정류장데이터 / 1.2 유동인구데이터 / 1.3_주민등록데이터 / 1.4_업종등록데이터
* 데이터간 관계 가설 수립 및 검증 : 1.5_데이터 분석

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "버스 정류장 데이터" 를 확인해 보도록 하겠습니다

In [1]:
# 필요 라이브러리부터 설치합니다.
%pip install pandas seaborn

Requirement already satisfied: pandas in c:\users\phoneticsbug\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: seaborn in c:\users\phoneticsbug\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: matplotlib>=2.2 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: scipy>=1.0 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from seaborn) (1.9.1)
Requirement already satisfied: cycler>=0.10 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\phoneticsbug\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## 데이터 안내

[기본 데이터]
* 1.1 BUS_STATION_BOARDING_MONTH_202204.csv

* 서울시 버스노선별 정류장별 승하차 인원 정보
* https://data.seoul.go.kr/dataList/OA-12912/S/1/datasetView.do


[추가 데이터]
* 1.1 bus_station.csv

* 서울시 버스정류장 위치정보
* https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

#### [실습문제1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '1.1 BUS_STATION_BOARDING_MONTH_202204.csv'파일을 'bus_station' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * cp949 인코더를 사용해 주세요

In [2]:
import sys
import numpy as np
import pandas as pd

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
bus_station = pd.read_csv('C://Users/phoneticsbug/iCloudDrive/AIVLE/2월/3주차/2023.02.13_미니프로젝트1차_실습자료/1.1 BUS_STATION_BOARDING_MONTH_202204.csv', encoding='cp949')

In [4]:
# 데이터 프레임의 Shape을 확인합니다.
print(bus_station.describe())
bus_station.head()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.169878e+06  1.169878e+06  1.169878e+06  1.169878e+06
mean   2.022042e+07  1.108042e+02  1.082804e+02  2.022043e+07
std    8.661492e+00  1.554787e+02  1.420829e+02  2.667754e+01
min    2.022040e+07  0.000000e+00  0.000000e+00  2.022040e+07
25%    2.022041e+07  1.800000e+01  2.100000e+01  2.022041e+07
50%    2.022042e+07  6.300000e+01  6.800000e+01  2.022042e+07
75%    2.022042e+07  1.460000e+02  1.450000e+02  2.022043e+07
max    2.022043e+07  3.990000e+03  3.615000e+03  2.022050e+07

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'bus_station' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
bus_station.describe()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.169878e+06  1.169878e+06  1.169878e+06  1.169878e+06
mean   2.022042e+07  1.108042e+02  1.082804e+02  2.022043e+07
std    8.661492e+00  1.554787e+02  1.420829e+02  2.667754e+01
min    2.022040e+07  0.000000e+00  0.000000e+00  2.022040e+07
25%    2.022041e+07  1.800000e+01  2.100000e+01  2.022041e+07
50%    2.022042e+07  6.300000e+01  6.800000e+01  2.022042e+07
75%    2.022042e+07  1.460000e+02  1.450000e+02  2.022043e+07
max    2.022043e+07  3.990000e+03  3.615000e+03  2.022050e+07

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
bus_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169878 entries, 0 to 1169877
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1169878 non-null  int64
 1   노선번호        1169878 non-null  object
 2   노선명         1169878 non-null  object
 3   버스정류장ARS번호  1169878 non-null  object
 4   역명          1169878 non-null  object
 5   승차총승객수      1169878 non-null  int64
 6   하차총승객수      1169878 non-null  int64
 7   등록일자        1169878 non-null  int64
dtypes: int64(4), object(4)
memory usage: 71.4+ MB

In [7]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
bus_station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404
...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503

In [8]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제3] 위 데이터에서 버스정류장 위치를 구 별로 구분 하고 싶습니다.

* 'bus_station' 데이터의 정보를 확인해보세요.

* 어떻게 해야 할까요?? (tip! 버스정류장ARS번호의 앞 두자리가 구를 의미합니다.)

* '자치구' column을 추가하여 정류장이 위치한 구 이름을 등록해주세요.

In [9]:
# bus_station에서 버스정류장ARS번호의 정보를 확인해보세요.
bus_station['버스정류장ARS번호']

0          06243
1          06242
2          06238
3          06309
4          11428
           ...
1169873    12004
1169874    06278
1169875    16555
1169876    25236
1169877    06280
Name: 버스정류장ARS번호, Length: 1169878, dtype: object

In [10]:
bus_station['자치구번호'] = bus_station['버스정류장ARS번호'].str.slice(start=0, stop=2)

In [11]:
bus_station['자치구번호']

0          06
1          06
2          06
3          06
4          11
           ..
1169873    12
1169874    06
1169875    16
1169876    25
1169877    06
Name: 자치구번호, Length: 1169878, dtype: object

In [12]:
# 버스정류장 ARS 번호의 앞자리 2개로 새로 컬럼 생성합니다
bus_station['자치구'] = bus_station['자치구번호'].map({'01':'종로구', '02':'중구', '03': '용산구', '04':'성동구', '05': '광진구', '06': '동대문구', '07': '중랑구', '08': '성북구', '09': '강북구', '10': '도봉구', '11': '노원구', '12': '은평구', '13': '서대문구', '14': '마포구', '15': '양천구', '16': '강서구', '17': '구로구', '18': '금천구', '19': '영등포구', '20': '동작구', '21': '관악구', '22': '서초구', '23': '강남구', '24': '송파구', '25': '강동구'})

In [13]:
bus_station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

* 버스정류장 ARS 번호 - 01~25까지 앞 숫자 두개가 위치한 구를 의미
    01. 종로구
    02. 중구
    03. 용산구
    04. 성동구
    05. 광진구
    06. 동대문구
    07. 중랑구
    08. 성북구
    09. 강북구
    10. 도봉구
    11. 노원구
    12. 은평구
    13. 서대문구
    14. 마포구
    15. 양천구
    16. 강서구
    17. 구로구
    18. 금천구
    19. 영등포구
    20. 동작구
    21. 관악구
    22. 서초구
    23. 강남구
    24. 송파구
    25. 강동구

In [14]:
# 구 코드를 구 이름으로 변환합니다

In [15]:
# 아래에 실습코드를 작성하고 결과를 확인합니다. (head, tail 등)
bus_station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

#### [실습문제4] 결측치를 처리 합시다

In [16]:
# (가상기점),(가상종점)때문에 ARS번호가 '~'로 나오는 곳이 있습니다 확인해볼까요?
bus_station.isnull().sum()

사용일자               0
노선번호               0
노선명                0
버스정류장ARS번호         0
역명                 0
승차총승객수             0
하차총승객수             0
등록일자               0
자치구번호              0
자치구           105284
dtype: int64

In [17]:
# NaN 값을 제거 하겠습니다
temp = bus_station.dropna(axis=0)

temp.isnull().sum()

사용일자          0
노선번호          0
노선명           0
버스정류장ARS번호    0
역명            0
승차총승객수        0
하차총승객수        0
등록일자          0
자치구번호         0
자치구           0
dtype: int64

In [18]:
# 다시 bus_station의 정보를 확인해볼까요?
temp

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

In [19]:
temp

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

In [20]:
# 버스정류장ARS번호의 type을 변경해볼까요?
type(temp['버스정류장ARS번호'])

pandas.core.series.Series

#### [실습문제5] 구별로 버스정류장이 몇 개 있는지 궁금합니다

* 구별로 버스 정류장의 개수를 확인해 주세요

    = 승하차 정보랑 버스 정보로 확인한 데이터 간에 이상한 점이 있을 것

In [21]:
# nunique로 고유값의 갯수만 확인해볼게요
temp['역명'].unique()

array(['장안동삼성쉐르빌아파트', '새서울병원', '장안동근린공원', ..., '중계구민체육센터', '불암산스포츠타운',
       '동작대교남단(가상)'], dtype=object)

In [22]:
len(temp['역명'].unique())

6897

In [23]:
# 강남구와 서초구에 500 개가 넘는 버스정류장이 있다는데, 확인해봅시다.
temp['역명'].describe()

count       1064594
unique         6897
top       서울역버스환승센터
freq           1763
Name: 역명, dtype: object

In [24]:
# 서울의 버스 정류장 데이터만 포함하고 있는 csv 파일 입니다 (서울 공공데이터 포탈)
# https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do
station = pd.read_csv('C:/Users/phoneticsbug/iCloudDrive/AIVLE/2월/3주차/2023.02.13_미니프로젝트1차_실습자료/1.1 BUS_STATION_BOARDING_MONTH_202204.csv', encoding='cp949')
station.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404

In [25]:
# 서울의 버스정류장 데이터의 정보를 확인해보세요.
# 서울시 ARS 번호 중 경기도 번호와 중복되어 꼬여있는 경우가 있기 때문에 merge를 통해 이상값을 제거해주어야 한다
station.describe()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.169878e+06  1.169878e+06  1.169878e+06  1.169878e+06
mean   2.022042e+07  1.108042e+02  1.082804e+02  2.022043e+07
std    8.661492e+00  1.554787e+02  1.420829e+02  2.667754e+01
min    2.022040e+07  0.000000e+00  0.000000e+00  2.022040e+07
25%    2.022041e+07  1.800000e+01  2.100000e+01  2.022041e+07
50%    2.022042e+07  6.300000e+01  6.800000e+01  2.022042e+07
75%    2.022042e+07  1.460000e+02  1.450000e+02  2.022043e+07
max    2.022043e+07  3.990000e+03  3.615000e+03  2.022050e+07

In [26]:
# 데이터를 자세히 살펴볼까요?

In [27]:
# 아까 전에 네이버 지도로 확인했던 정류장ARS번호를 찾아볼까요?

station['자치구번호'] = station['버스정류장ARS번호'].str.slice(start=0, stop=2)
station['자치구'] = station['자치구번호'].map({'01':'종로구', '02':'중구', '03': '용산구', '04':'성동구', '05': '광진구', '06': '동대문구', '07': '중랑구', '08': '성북구', '09': '강북구', '10': '도봉구', '11': '노원구', '12': '은평구', '13': '서대문구', '14': '마포구', '15': '양천구', '16': '강서구', '17': '구로구', '18': '금천구', '19': '영등포구', '20': '동작구', '21': '관악구', '22': '서초구', '23': '강남구', '24': '송파구', '25': '강동구'})
station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

In [28]:
# 데이터의 컬럼명을 바꿔볼까요? (to 버스정류장ARS번호)

In [29]:
# 서울시 버스정류장 데이터와 bus_station을 합쳐볼까요? 
bus1 = pd.merge(temp, station, how = 'inner')

In [30]:
# 합쳐진 데이터를 확인해볼까요?
bus1

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1064645,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1064646,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1064647,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1064648,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1064649,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

In [31]:
# 구 별로 버스 정류장의 개수를 확인해 주세요
stationnumber = bus_station.groupby("자치구")["버스정류장ARS번호"].nunique()
stationnumber

자치구
강남구     506
강동구     373
강북구     413
강서구     566
관악구     468
광진구     272
구로구     486
금천구     345
노원구     515
도봉구     361
동대문구    306
동작구     442
마포구     568
서대문구    460
서초구     600
성동구     436
성북구     606
송파구     416
양천구     323
영등포구    467
용산구     323
은평구     501
종로구     350
중구      178
중랑구     423
Name: 버스정류장ARS번호, dtype: int64

In [32]:
# 버스정류장ARS번호 갯수를 확인해볼까요?
bus1['버스정류장ARS번호'].nunique()

10704

#### [실습문제6] 구 별로 버스 노선이 몇 개나 지나가는지 궁금합니다.

* 구별로 버스 노선의 개수를 확인해 주세요

In [33]:
bus1

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구번호,자치구
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404,06,동대문구
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404,06,동대문구
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404,06,동대문구
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404,06,동대문구
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404,11,노원구
...,...,...,...,...,...,...,...,...,...,...
1064645,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503,12,은평구
1064646,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503,06,동대문구
1064647,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503,16,강서구
1064648,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503,25,강동구
1064649,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503,06,동대문구

In [34]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
busline = bus1.groupby('자치구')['노선명'].nunique()
busline

자치구
강남구      97
강동구      23
강북구      70
강서구      53
관악구      94
광진구      44
구로구      83
금천구      61
노원구      60
도봉구      49
동대문구     77
동작구     104
마포구     106
서대문구    114
서초구     100
성동구      60
성북구     103
송파구      59
양천구      60
영등포구    109
용산구      72
은평구      73
종로구     114
중구      110
중랑구      52
Name: 노선명, dtype: int64

#### [실습문제7] 각 구별로 승차 총 승객수, 하차 총 승객수를 알아봅시다

* groupby 를 활용해 봅시다.

In [42]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
boardin = bus1.groupby('자치구')['승차총승객수', '하차총승객수'].mean()
boardin

C:\Users\phoneticsbug\AppData\Local\Temp\ipykernel_5976\910358050.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  boardin = bus1.groupby('자치구')['승차총승객수', '하차총승객수'].sum()

       승차총승객수   하차총승객수
자치구
강남구   8039873  7583761
강동구   2894641  2839343
강북구   4825181  4671783
강서구   4681083  4652828
관악구   7660935  7801232
광진구   2754792  2759823
구로구   4942199  4731002
금천구   3776658  3581930
노원구   4368306  4296675
도봉구   3318926  3243122
동대문구  5240633  5115465
동작구   5317743  5114494
마포구   5120027  4984706
서대문구  5873668  5806158
서초구   7221330  6977950
성동구   2809917  2747045
성북구   6243803  6235524
송파구   5644221  5605340
양천구   4009180  3851632
영등포구  5741015  5785569
용산구   4189977  4086474
은평구   5201660  5122499
종로구   5469428  5206315
중구    3776815  3599090
중랑구   3802179  3748768

#### [실습문제8] 각 구별로 승차 평균 승객수, 하차 평균 승객수를 알아봅시다

In [36]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
boardmean = bus1.groupby('자치구')['승차총승객수', '하차총승객수'].mean()
boardmean

C:\Users\phoneticsbug\AppData\Local\Temp\ipykernel_5976\1495643544.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  boardmean = bus1.groupby('자치구')['승차총승객수', '하차총승객수'].mean()

          승차총승객수      하차총승객수
자치구
강남구   128.492001  121.202490
강동구    99.019635   97.128006
강북구   133.020373  128.791504
강서구    88.119480   87.587591
관악구   153.911301  156.729925
광진구   117.525256  117.739889
구로구   119.229910  114.134810
금천구   123.098370  116.751304
노원구    88.673162   87.219110
도봉구   106.917273  104.475292
동대문구  131.836507  128.687706
동작구   123.942268  119.205081
마포구   103.101631  100.376681
서대문구  109.730758  108.469549
서초구   126.687777  122.418028
성동구    96.362037   94.205933
성북구   123.028177  122.865047
송파구   114.269365  113.482204
양천구    97.371642   93.545247
영등포구  120.135076  121.067402
용산구   137.891694  134.485421
은평구   106.395173  104.776007
종로구   131.828388  125.486635
중구    120.923863  115.233567
중랑구    85.080870   83.885699

#### [실습문제9] 데이터 프레임을 합쳐보겠습니다.

In [37]:
# 네 개 파일을 합쳐볼까요

# seoul_bus_station_ARS
# seoul_bus_station_line
# seoul_bus_station_sum
# seoul_bus_station_mean

merge1 = pd.merge(stationnumber, busline, how='inner', on='자치구')
merge2 = pd.merge(boardin, boardmean, how='inner', on='자치구') 
merge3 = pd.merge(merge1, merge2, how='inner', on='자치구')

merge3.rename(columns={'버스정류장ARS번호' : '정류장수', 
                    '노선명' : '노선수',
                    '승차총승객수_x' : '승차총승객수',
                    '하차총승객수_x' : '하차총승객수',
                    '승차총승객수_y' : '승차평균승객수',
                    '하차총승객수_y' : '하차평균승객수'}, inplace=True)

merge3 = merge3.reset_index()
merge3
# 자치구	정류장수	노선수	승차총승객수	하차총승객수	승차평균승객수	하차평균승객수	

# ars번호 = 정류장 개수
# 노선명 = 노선 개수
# x = 합
# y = 평균

     자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0    강남구   506   97  8039873  7583761  128.492001  121.202490
1    강동구   373   23  2894641  2839343   99.019635   97.128006
2    강북구   413   70  4825181  4671783  133.020373  128.791504
3    강서구   566   53  4681083  4652828   88.119480   87.587591
4    관악구   468   94  7660935  7801232  153.911301  156.729925
5    광진구   272   44  2754792  2759823  117.525256  117.739889
6    구로구   486   83  4942199  4731002  119.229910  114.134810
7    금천구   345   61  3776658  3581930  123.098370  116.751304
8    노원구   515   60  4368306  4296675   88.673162   87.219110
9    도봉구   361   49  3318926  3243122  106.917273  104.475292
10  동대문구   306   77  5240633  5115465  131.836507  128.687706
11   동작구   442  104  5317743  5114494  123.942268  119.205081
12   마포구   568  106  5120027  4984706  103.101631  100.376681
13  서대문구   460  114  5873668  5806158  109.730758  108.469549
14   서초구   600  100  7221330  6977950  126.687777  122.418028
15   성동구   436   60  2809917  2747045   96.362037   94.205933
16   성북구   606  103  6243803  6235524  123.028177  122.865047
17   송파구   416   59  5644221  5605340  114.269365  113.482204
18   양천구   323   60  4009180  3851632   97.371642   93.545247
19  영등포구   467  109  5741015  5785569  120.135076  121.067402
20   용산구   323   72  4189977  4086474  137.891694  134.485421
21   은평구   501   73  5201660  5122499  106.395173  104.776007
22   종로구   350  114  5469428  5206315  131.828388  125.486635
23    중구   178  110  3776815  3599090  120.923863  115.233567
24   중랑구   423   52  3802179  3748768   85.080870   83.885699

In [38]:
# column 이름을 바꿔주겠습니다.

In [39]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [40]:
# 해당 데이터프레임을 'df_seoul_bus_station.csv' 파일로 저장하세요.
merge3.to_csv("C:/Users/User/iCloudDrive/AIVLE/3주차/2023.02.13_미니프로젝트1차_실습자료/df_seoul_bus_station.csv", index = False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\User\iCloudDrive\AIVLE\3주차\2023.02.13_미니프로젝트1차_실습자료'

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# 시각화 한글폰트 설정
# 맑은 고딕

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# scipy
import scipy.stats as spst

#### [실습문제10] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
plt.figure(figsize=(18, 8))
plt.plot('자치구', '정류장수', data = busdata)
plt.axhline(busdata['정류장수'].mean(), color='r')
plt.xticks(rotation=30)
plt.show()

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
plt.figure(figsize=(18, 8))
plt.plot('자치구', '노선수', data = busdata)
plt.axhline(busdata['노선수'].mean(), color='r')
plt.xticks(rotation=30)
plt.show()

In [ ]:
plt.figure(figsize=(18, 5))
plt.plot('자치구', '하차평균승객수', data = busdata)
plt.axhline(busdata['하차평균승객수'].mean(), color='r')

plt.plot('자치구', '승차평균승객수', data = busdata)
plt.axhline(busdata['승차평균승객수'].mean(), color='g')

plt.legend()
plt.xticks(rotation=30)
plt.show()

In [ ]:
plt.figure(figsize=(18, 5))
plt.plot('자치구', '하차총승객수', data = busdata)
plt.axhline(busdata['하차총승객수'].mean(), color='r')

plt.plot('자치구', '승차총승객수', data = busdata)
plt.axhline(busdata['승차총승객수'].mean(), color='g')

plt.legend()
plt.xticks(rotation=30)
plt.show()

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 성북구, 서초구, 강서구 순으로 정류장 개수가 많았다.
# 2. 노선 수는 서대문구 및 종로구가 가장 많았다.
# 3. 승하차하는 인원의 평균 수는 관악구가 압도적으로 높았다.
# 4. 하차인원이 가장 많은 지역은 강남구였으며, 복합적으로는 관악구의 하차인원이 더 많은 탓에 관악구의 유동인구가 가장 많은 것으로 추정된다.

---